{% extends "frontend/base.html" %}
{% load static %}
{% block title %}
    Microsoft
    Active Directory Validator
{% endblock title %}
{% block content_title %}
    Microsoft Active Directory
    Validator
{% endblock content_title %}
{% block content_body %}
    <section class="basic-textarea">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form id="form-query">
                            <!-- Input IOCs -->
                            <div class="col-12">
                                <fieldset>
                                    <label for="textarea-query">
                                        <b>Enter Text</b>
                                    </label>
                                    <textarea name="query"
                                              form="form-query"
                                              placeholder="Enter text, comma or line seperated"
                                              id="textarea-query"
                                              class="form-control"
                                              style="resize: none"
                                              rows="3"
                                              autofocus></textarea>
                                </fieldset>
                            </div>
                            <div class="col-12 text-center">
                                <div class="form-group d-grid mt-3">
                                    <button class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="ad-users" class="row mt-4"></div>
    </section>
{% endblock content_body %}
{% block js %}
    <script src="{% static 'frontend/app-activedirectory.js' %}"></script>
{% endblock js %}
