{% extends "frontend/base.html" %}
{% load static %}
{% block title %}
    Intelligence Harvester
{% endblock title %}
{% block vendor_css %}
{% endblock vendor_css %}
{% block page_css %}
{% endblock page_css %}
{% block additional_css %}
    <style>
        .custom-icon {
            height: 25px;
        }
    </style>
{% endblock additional_css %}
{% block content_title %}
    Intelligence Harvester
{% endblock content_title %}
{% block content_body %}
    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-4">
                    <form id="form-add-todo">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="col">
                                <input class="new-todo-item-title form-control border-0 shadow-none"
                                       type="text"
                                       placeholder="Enter IP | URL | CVE | Hash | Domain | Email Address">
                            </div>
                            <div class="col-xs">
                                <button type="submit" class="btn">
                                    <i class="ti ti-plus"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="todo-table" class="row d-none">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="todo-task-head-wrapper text-center">
                            <tr class="align-middle">
                                <th hidden>ID</th>
                                <th class="th-checkbox">
                                    <span class="checkbox-wrapper">
                                        <input type="checkbox" name="search-head" hidden checked>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="20"
                                             height="20"
                                             viewBox="0 0 24 24"
                                             fill="none"
                                             stroke="currentColor"
                                             stroke-width="2"
                                             stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="text-success cursor-pointer">
                                            <circle cx="12" cy="12" r="10" visibility="hidden"></circle>
                                            <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                                            <polyline points="22 4 12 14.01 9 11.01"></polyline>
                                        </svg>
                                    </span>
                                </th>
                                <th>QUERY</th>
                                <th hidden>TYPE</th>
                                {% for source_name, source in sources.items %}
                                    <th id="th-{{ source_name }}" class="th-checkbox">
                                        <span class="checkbox-wrapper">
                                            <input type="checkbox" name="{{ source_name }}-head" hidden>
                                            <img src="{% static source.url %}"
                                                 class="custom-icon cursor-pointer"
                                                 alt="{{ source.title }}"
                                                 data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 title="{{ source.title }}"
                                                 height="25px"
                                                 width="25px">
                                        </span>
                                    </th>
                                {% endfor %}
                                <th class="th-checkbox">
                                    <span class="delete-selected cursor-pointer"
                                          data-bs-toggle="tooltip"
                                          data-bs-placement="top"
                                          title="Remove Selected">
                                        <i class="ti ti-x ti-md text-danger"></i>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="todo-task-list-wrapper text-center">
                        </tbody>
                    </table>
                </div>
                <div class="card-body">
                    <form id="form-download">
                        <div class="row">
                            <div class="d-grid col-lg-10 col-md-9 col-7">
                                <button id="search-btn" type="button" class="btn btn-primary">Search</button>
                            </div>
                            <div class="d-grid col-lg-2 col-md-3 col-5">
                                <button id="export-btn" type="button" class="btn btn-outline-primary">Export</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content_body %}
{% block js %}
    <script>
        const sourcesInfo = JSON.parse("{{ sources|escapejs }}".replace(/'/g, '"'));
        const additionalSources = JSON.parse("{{ additional_sources|escapejs }}".replace(/'/g, '"'));
        const staticLocation = '{% static "frontend/assets/img/icons/brands/" %}';
    </script>
    <script src="{% static 'frontend/app-intelligenceharvester.js' %}"></script>
    <script src="{% static 'frontend/cards-actions.js' %}"></script>
{% endblock js %}
